*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: "Roboto", sans-serif;
}

.fixed-header{
    background-color: #ffbf69;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px;
    height: 100px;
    
}

header > a > img {
    vertical-align: middle;
    cursor: pointer;
}

header > nav {
    display: flex;
}

header > nav > ul > li{
    display: inline-block;
    padding: 0 7px;
}

.actions a{
    margin-right: 10px;
    text-decoration: none;
    color: #2f3e46;
}

.actions label{
    cursor: pointer;
}

.actions button{
    width: 120px;
    padding: 10px 10px;
    background-color: #2b9348;
    color: white;
    outline: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

h1{
    color: #007f5f;
    font-size: 60px;
    text-align: center;
}

@media (max-width: 620px){
    .fixed-header{
        background-color: #f0f3bd;
        color: #2f3e46;
    }
    .header{
        flex-direction: column;
        padding-top: 10px;
        height: 140px;
    }

    .navbar{
        margin: 10px 0px;
    }

    .actions{
        padding-bottom: 10px;
    }

    h1{
        font-size: 30px;
    }

    .banner img{
        width: 100%;
        margin: 10px 0;
    }

    .publish h3{
        font-size: 18px;
        text-align: center;
        margin: 10px 0px;
    }

    .publish p{
        font-size: 16px;
        padding: 0px 20px;
        text-align: center;
    }

    .publish__email{
        display: flex;
        justify-content: center;
        margin: 20px 0px;
    }

    .publish__email input{
        padding: 0 10px;
    }

    .publish__email button{
            width: 120px;
        padding: 10px 10px;
        background-color: #2b9348;
        color: white;
        outline: none;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        margin-left: 10px;
    }
}