*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #edf6f9;
}

.container{
    display: flex;
    flex-direction: column;
    background-color: #14213d;
    width: 100%;
    
}

.item{
    background-color: aqua;
    height: 50px;
    margin: 10px;
    width: 50px;
    display: flex;
}

.item .i1{
  justify-self: flex-end;  
}

.herramientas__container{
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: center;
    margin: 20px auto;
}

.herramientas__title{
    color: #025157;
    font-size: 40px;
}

.cards__container{
    display: flex;
    text-align: center;
}

.card{
    display: flex;
    flex-direction: column;
    background-color:white;
    border: 1px solid #ccc;
    margin: 30px 30px;
    justify-content: center;
    align-items: center;
    padding: 30px 20px 80px 20px;
    border-radius: 5px;
    box-shadow: 5px 3px 5px #e5e5e5;
}

.card--icon{
    width: 50px;
    margin-bottom: 20px;
}

.card h3{
    margin-bottom: 20px;
}