body{
    background-color:#fffbf7
}

h1{
    color: #025157;
}

.button{
    background-color: #025157;
    color: #fff;
    border-radius: 5px;
    width: 150px;
    height: 25px;
    outline: none;
    box-shadow: 0px 0px 4px black;
}

.description{
    color: #46484c
}

.promotion{
    color: #8b8b8bcc;
}

