*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    background-color: #fffbf7;
    font-size: 62.5%;
    height: 100px;
}

.header__container{
    height: 400px;
    width: 100%;
}
/*----------- Promo Section ------------*/
.article__title{
    color: #025157;
    font-family: monospace, sans-serif;
    font-size: 4rem;
    line-height: 4.8rem;
}

.article__description{
    color: #343434;
    font-size: 1.6rem;  
}

.article__form{
    display: flex;
}

.form__title--gray{
    font-size: 1.6rem;
    color: #8b8b8bcc;
}


